.message-list{

}

.message-list li{
    width: 100%;
    float: left;
    background-color: #ddd;
    border-bottom: 1px solid #d4d4d4;

}

.message-list li span{
    cursor: pointer;
}

.message-list .unread{
    background-color: white;
    font-weight: 700;
}

.message-list li div{
    padding:10px;
}

.message-list li .autor{
    margin-left: 20px;
    margin-right: 40px;
    float: left;
    width: 150px;
}

.message-list li input[type='checkbox']{
    float: left;
    cursor: default;
}

.change-list li{
    display: block;
    float: left;
    cursor: pointer;
}
.change-list{
    width: 100%;
    float:left;
    margin-top: 10px;
    margin-bottom: 30px;
}
.change-list li:first-child{
    border-right: 1px solid #ddd;
    padding-right: 5px;
}

.change-list li:last-child{
    padding-left: 5px;
}

.message-buttons{
    margin-top: 20px;
    float: left;
    width: 100%;
}

.message-buttons .glyphicon{
    padding: 0 15px;
}

.in-message-options{
    float:left;
    width: 100%;
    margin-top: 15px;
}

.in-message-options li{
    float: left;
    margin-right: 10px;
}

.in-message-options li a{
    cursor: pointer;
}


#newMessage textarea, #conditions textarea, #sendMessage textarea, #commentary textarea{
    float: left;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    padding: 15px;
}

#newMessage textarea:hover, #newMessage textarea:focus, #newMessage textarea:active, #conditions textarea:hover, #conditions textarea:focus, #conditions textarea:active,
#sendMessage textarea:hover, #sendMessage textarea:focus, #sendMessage textarea:active, #commentary textarea:hover, #commentary textarea:focus, #commentary textarea:active{
    outline: none;
}

#showMessage, #newMessage, #conditions, #details, #booking-details, #sendMessage, #commentary{
    display: none;
    margin-top: 20px;
}

#conditions ul, #details ul, #booking-details ul{
    padding: 20px;
}

#conditions ul li, #details ul li, #booking-details ul li{
    margin-bottom: 10px;
}

.prebooking-info-message, .booking-info-message{
    font-style: italic;
    margin-top: 30px;
    font-size: 13px;
}

.prebooking-list, .prebooking-user-list, .booking-user-list, .booking-list, .commentaries-list{
    width:100%;
    float:left;
    margin-top: 20px;
}

.prebooking-list li, .prebooking-user-list li, .booking-user-list li, .booking-list li, .commentaries-list li{
    float:left;
    width:100%;
    margin-bottom: 20px;
}

.prebooking-list .prebooking-header, .prebooking-user-list .prebooking-header, .booking-user-list .booking-header, .booking-list .booking-header, .commentaries-list .commentaries-header{
    float:left;
    width: 100%;
}

.prebooking-header .prebooking-options, .booking-header .booking-options, .commentaries-header .commentaries-options{
    float:right;
}

.alert{
    display:none;
    width: 100%;
    float:left;
}

#commentary select{
    width:40% !important;
}

.gold{
    color: #FFD700 !important;
}

.commentaries-stars{
    float:left;
    width: 100%;
}

.commentaries-stars ul{
    float:left;
    margin-bottom: 20px;
}

.commentaries-stars ul li{
    float:left;
    width: initial !important;
}

.commentary-text p{
    font-style: italic;
}

.commentary{
    display:none;
}

@media screen and (min-width: 768px) and (max-width: 1003px) {
    .prebooking-header .prebooking-options, .booking-header .booking-options {
        float:left !important;
        margin-top: 10px !important;
    }

    .btn-xs {
        padding: 5px 10px !important;
    }

    .booking-header span, .prebooking-header span{
        float:left;
        width: 100%;
    }

}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .prebooking-header .prebooking-options, .booking-header .booking-options {
        float:left;
        margin-top: 10px;
    }

    .btn-xs {
        padding: 5px 10px !important;
    }

    .booking-header span, .prebooking-header span{
        float:left;
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 574px) {
    .prebooking-header .prebooking-options, .booking-header .booking-options {
        float:left;
        margin-top: 10px;
        width: 100%;
    }

    .btn-xs {
        padding: 5px 10px !important;
        width:100% !important;
        float:left !important;
    }

    .booking-header span, .prebooking-header span{
        float:left;
        width: 100%;
    }

    .btn-grey{
        width: 100%;
    }

    .prebooking-header .prebooking-options a, .booking-header .booking-options a {
        margin-bottom: 10px;

    }

    .btn-send-conditions-up{
        margin-bottom: 20px !important;
    }

    .message-buttons .btn{
        float:left;
        width: 100% !important;
        margin-bottom: 20px !important;
    }


    .message-list span {
        float: right;
        margin-right: -15px;
        width: 150px;
        padding-bottom: 10px;
    }
    .message-list li .autor {
        float: left;
        margin-left: 5px;
        width: 150px;
    }
}