/*region panel-options*/

/*endregion*/


/*region accomodation-list*/

.accomodation{
    width: 100%;
    border: 1px solid #dce0e0;
    border-radius: 2px;
    float: left;
    margin-right: 90px;
    margin-bottom: 40px;
    font-family: 'Open Sans',sans-serif;
}

.accomodation:hover{
    box-shadow: 0 0 6px #757475;
    -webkit-box-shadow: 0px 0 6px #757475;
}

.accomodation h3{
    width:50%;
}

.accomodation img{
    float: left;
    width: 400px;
    height: 200px;
}

.accom-descrip{
    float:left;
    padding: 0px 20px 20px 30px;
    width: 64.5%;
}
.accom-province{
    color: #006cb7;
}

.btn-update-accom{
    float:right;
}
.btn-delete-accom{
    margin-left: 20px;
    float:right;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.form-submit{
    margin-top: 20px;
}
/*endregion*/

/*region newAccom*/

#newAccom .form-default{
    width:50%;
}

#newAccom .new-accom-city, #newAccom .new-accom-province{


}

#newAccom .col-xs-6{
    padding-right: 0px;
}

#newAccom .form-desc{
    height:200px;
}
/*endregion*/

/*region updateAccom */

.current-img-cont{
    float:left;
    width:100%;
    margin-top: 40px;
}
.current-list-img{
    float: left;
    width: 100%;
    margin-top: 20px;
    padding: 0px 50px 0px 50px;
}
.current-list-img li{
    width:100%;
}

.current-main-img{
    width: 30%;
    border: 2px solid #dce0e0;
    border-radius: 2px;
    float: left;
    margin-right: 90px;
    margin-bottom: 40px;
    height: 250px !important;
    cursor: pointer;
}

.current-main-img img{
    float:left;
    width:100%;
    height: 250px !important;
}

.current-img{
    width: 20%;
    border: 2px solid #dce0e0;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}

.current-img img{
    float:left;
    width:100%;
    height: 150px;
}

.btn-delete-main-img{
    float:left;
}

.main-img-updated{
    float: left;
    width: 100%;
}

.col-gallery{
    float:left !important;
    width: 100% !important;
    margin-bottom: 80px;
}

.col-gallery p{
    float:left;
    margin-top: 25px;
}

.options-gallery{
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-delete-gallery{
    margin-right: 25px;
}
/*endregion*/
/*region updateAccount*/
.form-submit-update{
    width:100%;
    float:left;
}
/*endregion*/

/*region responsive*/
@media screen and (min-width: 1004px) and (max-width: 1215px) {
    .accomodation img {
        height: 255px;
    }

    .accom-descrip {
        width: 55%;
    }

    .accomodation h3 {
        width: 100%;
    }

    .accom-description{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1003px) {
    .accomodation img {
        width: 100%;
        height: 300px;
    }



    .accom-descrip {
        width: 100%;
    }

    .accom-descrip .btn{
        float:right;
    }

    .accomodation h3 {
        width: 100%;
    }

    .accom-description{
        margin-bottom: 30px;
    }

    .nav-tabs>li {
        width: 100%;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border: none !important;
        background-color: #eee !important;
    }

    .current-main-img {
        width: 45%;
        margin-right: 25px;
    }

    .current-list-img {
        padding: 0px;
    }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
    .accomodation img {
        width: 100%;
        height: 300px;
    }

    .accom-descrip {
        width: 100%;
    }

    .accomodation h3 {
        width: 100%;
    }

    .accom-description{
        margin-bottom: 30px;
    }

    .nav-tabs>li {
        width: 100%;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border: none !important;
        background-color: #eee !important;
    }
    #account .col-xs-6 {
        width: 100%;
    }
    @media screen and (min-width: 450px) and (max-width: 591px) {
        .col-xs-4 {
            width: 100% !important;
        }

        @media screen and (min-width: 450px) and (max-width: 493px) {
            .current-img {
                width: 100% !important;
            }
            .current-img img {
                height: 200px !important;
            }

            .current-list-img {
                padding: 10px !important;
            }
        }
        #form-gallery .col-sm-6{
            padding-left: 0px;
            float: left !important;
            width: 99% !important;
        }

        .btn-update-main-img{
            width: 99%;
            float: left;
        }

        .current-img {
            width: 30%;
            margin-right: 15px;
        }

        .options-gallery{
            float:left;
            width: 100%;
        }

        .options-gallery .btn{
            width:100%;
            margin-bottom: 20px;
        }

        .form-update-main-img{
            float: left;
            width: 99%;
        }

        #main-img-form .col-sm-6{
            float:left;
            width: 99%;
        }

    }

    @media screen and (min-width: 450px) and (max-width: 550px) {
        .btn-primary {
            width: 100%;
            margin-bottom: 15px !important;
        }

        .btn-success{
            width: 100%;
        }

        .btn-delete-accom{
            width: 100%;
            margin-bottom: 20px !important;
        }
        .accomodation img {
            width: 100%;
            height: 250px;
        }
    }

    .form-default{
        width: 100% !important;
    }

    #newAccom .col-xs-6 {
        padding-right: 15px;
    }

    .current-main-img {
        width: 99%;
        margin-bottom: 40px;
    }

    .current-main-img img {
        height: 275px !important;
    }

    .current-list-img {
        padding: 0px;
    }

    #form-gallery .row{
        margin-left: 0px;
    }

    #form-gallery .col-sm-6{
        padding-left: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 449px) {
    #account .col-xs-6 {
        width: 100%;
    }

    .accomodation img {
        width: 100%;
        height: 250px;
    }

    .accom-descrip {
        width: 100%;
    }

    .accomodation h3 {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
    }

    .accom-description{
        margin-bottom: 30px;
    }

    .nav-tabs>li {
        width: 100%;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border: none !important;
        background-color: #eee !important;
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 15px !important;
    }

    .btn-success{
        width: 100%;
    }

    .btn-delete-accom{
        width: 100%;
        margin-bottom: 20px !important;
    }

    .col-xs-4 {
        width: 100% !important;
    }

    .form-default{
        width: 100% !important;
    }

    #newAccom .col-xs-6 {
        padding-right: 15px;
    }

    #form-gallery .col-sm-6{
        padding-left: 0px;
        float: left !important;
        width: 99% !important;
    }

    .btn-update-main-img{
        width: 99%;
        float: left;
    }

    .current-img {
        width: 30%;
        margin-right: 15px;
    }

    .options-gallery{
        float:left;
        width: 100%;
    }

    .options-gallery .btn{
        width:100%;
        margin-bottom: 20px;
    }

    .form-update-main-img{
        float: left;
        width: 99%;
    }

    #main-img-form .col-sm-6{
        float:left;
        width: 99%;
    }

    #form-gallery .row{
        margin-left: 0px;
    }

    .current-main-img {
        width: 99%;
        margin-bottom: 40px;
    }

    .current-main-img img {
        height: 275px !important;
    }

    .current-img {
        width: 100% !important;
    }
    .current-img img {
        height: 200px !important;
    }

    .current-list-img {
        padding: 10px !important;
    }
}
/*endregion*/