


.panel-info>.panel-heading {
    color: inherit !important;
    background-color: white !important;
    border: none;
}

.panel-info {
    border-color: #eeeeee !important;
}

.panel-heading h3{
    margin: 0;
}
.clickeable{
    cursor: pointer;
}

.input-group {
    margin-left: 10px;
    margin-bottom: 15px;
}

.input-group label{
    font-weight: 700 !important;
}

.text-danger {
    float: left;
    margin-top: -15px;
    margin-left: 115px;
}

#btn-login{
    width: 100%;
}

#btn-signup{
    width: 100%;
    background-color: #5cb85c !important;
    border-color: #52b84f !important;
}

#btn-signup:hover{
    background-color: #449d44 !important;
    border-color: #449d44 !important;
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 38% !important;
    }
}