
body{
	font-family: 'Open Sans', sans-serif !important;
	padding-top: 70px;
	min-height:500px;
}

.comentaries .carousel-caption{
	cursor: pointer;
}
.container-height{
	min-height: 450px;
	margin-bottom: 40px;
}

.navbar-fixed-top{

	position: absolute !important;
}
.form-control{
	border-radius: 2px;
}

.btn{
	border-radius:2px !important;
}

.btn-success{
	background-color: #5cb85c !important;
}

ul{
	padding: 0;
	list-style: none;
}
/*region header*/

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-toggle:hover, .navbar-toggle:focus{
	background-color: white !important;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar{
	background-color: #5cb85c !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar{
	background-color: #5cb85c !important;
	border: none !important;

}

.navbar-collapse {
	background-color: #5cb85c !important;
}

.navbar-img{
	padding: 0;
}

.navbar-img img{
	float: left;
}

.navbar-default{

}
.navbar a{
	color: white !important;
}

.hover{
	text-transform: uppercase;
}
.hover:hover {
	background-color:  #449d44 !important;
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
}

a{
	color: #5cb85c !important;
}
.btn-success, .btn-danger, .btn-primary{
	color: white !important;
}
.btn-grey{
	background-color: #444 !important;
	border-color: #222 !important;
	color:white !important;
}

.btn-grey:hover{
	background-color: #333 !important;
	border-color: #222 !important;
	color:white !important;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.navbar-img img {
		float: left;
		height: 48px;
	}
}
/*endregion header*/
/*region footer*/
.footer{
	background-color: #5cb85c
}

.footer-info-list{
	padding-top: 40px;
	color:white !important;
	margin-bottom: 80px;
	float: left;
}

.footer-info-list li{
	float: left;
	width: 20%;
	margin-right: 50px;

}

.footer-info-list li:last-child{
	margin-right: 0px;
}

.footer-info-list li h3{
	color: #4c3517 !important;
	margin: 10px;
	font-weight: 700;
}

.footer-info-list li a{
	color:white !important;
	float: left;
	width: 100%;
}

.footer-info-list li a:hover{
	color: white !important;
}
.margin-info{
	margin-top: 15px;
}

.margin-info-medium{
	margin-top: 25px;
}

.margin-info-extra{
	margin-top: 37px;
}

.socialnet ul{
	float: left;
	margin-left: -15px;
}
.socialnet li{
	width: auto;
	margin: 10px;
}
.socialnet p{
	margin-left: 10px;
}

.socialnet a{
	color: #fff;
	text-align: center;
	border: 2px solid #fff;
	line-height: 34px;
	display: block;
	font-size: 16px;
	width: 35px !important;
	height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.socialnet a:hover{
	background:#fff;
}

.socialnet a:hover i{
	color:#449d44;
}
.socialnet img{
	margin-right: 10px;
}

.footer-info-list-mobile{
	display: none;
}

.footer-info-list-mobile p{
	padding: 10px;
	color:white;
}
@media screen and (min-width: 672px) and (max-width: 991px) {
	.footer-info-list li {
		width: 19%;
	}
}

@media screen and (min-width: 0px) and (max-width: 779px) {
	.footer-info-list{
		 display:none;
	 }

	.footer-info-list-mobile{
		display: inherit;
	}
}

/*endregion*/

/*region carousel*/
	.carousel{
		position: static;
		margin-top: -20px;
	}

	.carousel-indicators {
		bottom: 180px;
	}

	.carousel-indicators li {
		box-shadow: 0 1px 2px rgba(33,33,33,0.2);
		border: 2px solid #fff;
		background-color: #fff;
	}

	.carousel-indicators .active {
		background-color: rgb(230, 230, 230);
	}

/*endregion carousel*/

/*region highlights*/

.highlights ul{
	padding-left: 50px;
}
.highlights h2, .comentaries h2{
	color: #5cb85c;
	font-size: 36px;
}

.highlights-title, .comentaries-title{
	width: 33%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.highlights-title p, .comentaries-title p{
	margin: 0 auto;
	width: 80%;
}

.highlights .accom {
	width: 28%;
	border: 1px solid #dce0e0;
	border-radius: 2px;
	float: left;
	margin-right: 50px;
	margin-bottom: 40px;
	height: 355px !important;
	cursor: pointer;
}

.highlights .accom-last{
	margin-right: 0px;
}

.highlights .accom-right{

}

.highlights .accom:hover{
	box-shadow: 0 0 6px #757475;
	-webkit-box-shadow: 0px 0 6px #757475;
}

.highlights .accom img{
	width:100%;
	height: 182px;
}

.highlights .accom .description{
	padding-top:15px;
	padding-bottom:15px;
	width:90%;
	margin:0 auto;
	font-size:12px;
	color: #555;
	height: 145px;
}

.highlights .accom .description p{

}

.highlights .accom .city{
	color: #5cb85c;
	font-weight:700;
	font-size:14px;
}

.highlights .accom .price{
	font-weight:700;
}

.highlights .accom .show_details {
	width: 90%;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-top: -20px;
}

.highlights .accom .show_details a{
	float: right;
}

.info-app{
	background-color: #5cb85c;
}

.info-app{
	color:white;
}

.info-app .traveler, .info-app .owner{
	width: 46%;
	float:left;
	margin-bottom: 20px;

}

.info-app .traveler{
	margin-right: 65px;
}
.info-app ul{
	float:left;
	margin-top: 20px;
}
.info-app ul li{
	margin-bottom: 20px;
	float:left;
}

.info-app ul li p{
	float: left;
	width: 90%;
	margin-left: 10px;
}

.info-app ul li img{
	float:left;
}

.comentaries{
	margin-bottom: 50px;
}

.comentaries .carousel{
	position: inherit;
}

.comentaries .carousel a{
	color:white !important;
}

.comentaries .autor{
	color: #5cb85c;
	font-style: italic;
}
.comentaries .comment{
	color: #424242;
	font-style: italic;
}
.comentaries .carousel-control.right, .comentaries .carousel-control.left {
	background-image: none !important;
}

.comentaries .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	font-size: 60px;
	color: #e7e7e7;
}

.comentaries .carousel-caption {
	top:175px !important;
	text-shadow: none !important;
}
.comentaries .carousel-indicators{
	bottom: 20px !important;
}
.main-text
{
	position: absolute;
	top: 50px;
	width: 96.66666666666666%;

}

.main-text h1{
	color: #5cb85c;
}
.btn-min-block
{
	min-width: 170px;
	line-height: 26px;
}
.btn-clear
{
	color: #FFF;
	background-color: transparent;
	border-color: #FFF;
	margin-right: 15px;
}
.btn-clear:hover
{
	color: #000;
	background-color: #FFF;
}


@media screen and (min-width: 749px) and (max-width: 1211px) {
	.highlights ul{
		padding-left: 150px;

	}
	.highlights .accom {
		width: 80%;
		height: 500px !important;
	}

	.highlights .accom img {
		height: 300px;
	}

	.highlights .accom .show_details {
		float: right;
		padding-bottom: 10px;
		width: 93.8%;
		margin-top: 0px;
		margin-right: 15px;
	}

	.highlights .accom-right{
		margin-right: 0px;
	}
	.highlights-title, .comentaries-title {
		width: 40%;
	}

	@media screen and (min-width: 749px) and (max-width: 1003px) {
		.highlights .accom {
			width: 100%;
		}

		.highlights ul{
			padding-left: 0px;

		}

		.highlights-title, .comentaries-title {
			width: 53%;
		}

		.info-app .traveler, .info-app .owner{
			width: 100% !important;
		}

		.info-app .traveler{
			margin-right: 0px !important;
		}
		@media screen and (min-width: 749px) and (max-width: 791px) {
			.highlights-title h2, .highlights-title p{
				display: none;
			}

			.highlights-title{
				height: 20px;
				float: left;
			}

			.hidden-xs {
				display: inherit !important;
			}
		}
	}

	.info-app .traveler, .info-app .owner{
		width: 49%;
		float:left;
		margin-bottom: 20px;

	}

	.info-app .traveler{
		margin-right: 0px;
	}

	.info-app ul li p {
		width: 85%;
	}

}



@media screen and (min-width: 440px) and (max-width: 749px) {
	.highlights ul{
		padding-left: 0px;
	}
	.highlights .accom {
		width: 100%;
		height: 490px !important;
	}

	.highlights .accom-right{
		margin-right: 0px;
	}

	.highlights .accom img {
		height: 275px;
	}

	.highlights .accom .show_details {
		margin-top: 25px;
		width: 95%;
		margin-right: 12px;
	}

	.highlights .accom .show_details .btn-success {
		width: 100%;
	}

	.highlights .accom .price{
		position: absolute;
		margin-top: -375px;
		color: white;
		background-color: black;
		opacity: 0.7;
		padding: 12px 20px;
		left:16px;
		font-weight: 100;
	}

	.highlights-title h2, .highlights-title p{
		display: none;
	}

	.highlights-title{
		height: 20px;
		float: left;
	}

	.info-app{
		display: none;

	}

	.comentaries{
		display: none;
	}
}

@media screen and (min-width: 360px) and (max-width: 439px) {
	.highlights ul{
		padding-left: 0px;
	}
	.highlights .accom {
		width: 100%;
		height: 445px !important;
	}

	.highlights .accom-right{
		margin-right: 0px;
	}

	.highlights .accom img {
		height: 225px;
	}

	.highlights .accom .show_details {
		margin-top: 25px;
		width: 95%;
		margin-right: 10px;
	}

	.highlights .accom .show_details .btn-success {
		width: 100%;
	}

	.highlights .accom .price{
		position: absolute;
		margin-top: -375px;
		color: white;
		background-color: black;
		opacity: 0.7;
		padding: 12px 20px;
		left:16px;
		font-weight: 100;
	}

	.highlights-title h2, .highlights-title p{
		display: none;
	}

	.highlights-title{
		height: 20px;
		float: left;
	}

	.info-app{
		display: none;
	}

	.comentaries{
		display: none;
	}
}

@media screen and (min-width: 0px) and (max-width: 359px) {
	.highlights ul{
		padding-left: 0px;
	}
	.highlights .accom {
		width: 100%;
		height: 455px !important;
	}

	.highlights .accom-right{
		margin-right: 0px;
	}

	.highlights .accom img {
		height: 200px;
	}

	.highlights .accom .show_details {
		margin-top: 65px;
		width: 95%;
		margin-right: 8px;
	}

	.highlights .accom .show_details .btn-success {
		width: 100%;
	}

	.highlights .accom .price{
		position: absolute;
		margin-top: -375px;
		color: white;
		background-color: black;
		opacity: 0.7;
		padding: 10px 16px;
		left:16px;
		font-weight: 100;
	}

	.highlights-title h2, .highlights-title p{
		display: none;
	}

	.highlights-title{
		height: 20px;
		float: left;
	}

	.info-app{
		display: none;
	}

	.comentaries{
		display: none;
	}
}
/*endregion carousel*/