.container-top{
	margin-top: 50px;
}

body{
	font-family: 'Open Sans', sans-serif !important;
}

/*region header*/
.navbar{
	background-color: #006cb7 !important;
	border: none !important;

}


.navbar-default{

}
.navbar a{
	color: white !important;
}

.hover{
	text-transform: uppercase;
}
.hover:hover {
	background-color: #359cd6 !important;
}
/*endregion header*/
